.footer-container {
  background-color: green;
  color: white;
  text-align: center;
  padding: 15px;
}

.footer-text {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 25px;
  margin: 10px 0;
}

.footer-copy {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer-container {
    display: none;
  }
}
